<div style="width: 99%;padding-top:20px;margin-top: 60px" >
  <div class="row">
      <div class="col-md-2">
          <div class="container">
              <section>
                <img src="..." alt="user photo">
                <a> {{usernameYouTalk}}</a>
              </section>
              <hr>

              <section  *ngFor="let f of friendsName">
                <img src="...">
                <a routerLink="/messager"
                [queryParams]="{username: f.friends}">
                 {{f.friends}}
                </a>
              </section>

          </div>
      </div>


          <section style="margin-top: 30px;">

            <div id="username-page">
              <div class="username-page-container">
                <h1 class="title"> username</h1>
                <form id="usernameForm" name="usernameForm">
                  <div class="form-group">
                    <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" [value]="owner" disabled/>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="accent username-submit">Start Chatting</button>
                  </div>
                </form>
              </div>
            </div>

            <div id="chat-page" class="hidden">
              <div class="chat-container">
                <div class="chat-header">
                  <h2>JavaTechie Global Chat Box</h2>
                </div>
                <div class="connecting">Connecting...</div>

                <ul id="messageArea"> </ul>

                <form id="messageForm" name="messageForm" nameForm="messageForm">
                  <div class="form-group">
                    <div class="input-group clearfix">
                      <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control" />
                      <button type="submit" class="primary">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </section>



      <div class="col-md-2"></div>

  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/message.js"></script>
