<div class="container"style="margin-top: 60px">
    <form class="navbar-form navbar-left" (ngSubmit)="getSubmitedData()" #f="ngForm">
        <h2 class="text-center">What is your {{switchAdd}} </h2>
        <div class="alert alert-success" *ngIf="status !== 'view' && status == 'add' && actionDone"> Adding Success</div>
        <div class="alert alert-warning" *ngIf="status !== 'view' && status == 'update' && actionDone"> Update Success</div>


      <!-- Exper -->
       <div *ngIf="switchAdd == 'Experience' ">

            <label >Which Filed</label>
            <div class="form-group">
            <input type="text" name="fields" ngModel   class="form-control" required  >
            </div>

            <label >Experience years</label>
            <div class="form-group">
            <input type="number" name="years" ngModel   class="form-control" required >
            </div>


            <label >company name</label>
            <div class="form-group">
            <input type="text" name="companyName" ngModel class="form-control"  >
            </div>

       </div>
         <!-- eng Exper -->



         <!-- learn -->
       <div *ngIf="switchAdd == 'Course' ">
            <label >Learn</label>
            <div class="form-group">
            <input type="text" name="courseName" ngModel class="form-control" required >
            </div>

       </div>
         <!-- eng learn -->


         <!-- projects -->
       <div *ngIf="switchAdd == 'Project' ">
            <label >Project Name</label>
            <div class="form-group">
            <input type="text" name="projectName" ngModel class="form-control" required >
            </div>

            <label >To Who</label>
            <div class="form-group">
            <input type="text" name="toWho" ngModel class="form-control" required >
            </div>

            <label >Members</label>
            <div class="form-group">
            <input type="text" name="members" ngModel class="form-control"  >
            </div>

            <label >Role</label>
            <div class="form-group">
            <input type="text" name="role" ngModel class="form-control"  >
            </div>


            <label >Link</label>
            <div class="form-group">
            <input type="text" name="link" ngModel class="form-control" required >
            </div>

       </div>
         <!-- eng projects -->


         <br>
         <button *ngIf="status !== 'view' " style="width: 100%" type="submit" class="btn btn-primary" [disabled]="!f.valid">{{status}}</button>

     </form>
</div>
